*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: #2D2D2D;
    color: #ffffff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}