@import '/css/reset.css';

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.titulos{
    margin-top: 134px;
}

header .sb-titulo{
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.8px;
}

header p{
    color: #FFF;
    font-size: 14px;
    margin-top: 6px;
}

header ul{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

header ul li a.active{
    border-radius: 6px;
    background: #383838;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 16px;
}

.temporizador{
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
}

.temporizador svg{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 12px;
    stroke:#383838 ;
    
}

.temporizador h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Chakra Petch", sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.temporizador .tempo{
    position: absolute;
}

.temporizador svg circle{
    stroke: #7B38E8 ;
    filter: drop-shadow(0px 0px 12px #7B38E8);
}

.temporizador .dots{
    position: absolute;
    background: #7B38E8;
    box-shadow: 0px 0px 0px 0px #7B38E8;
    width: 3%;
    height: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 100;
    border-radius: 50%;
    top: -1.5%;
    left: auto;
}

.temporizador .dots::before{
    content: '';
    position: absolute;
    
    width: 15px;
    height: 15px;
}

.controle{
    margin-bottom: 84px;
}

ul.controle{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 200px;
}

.button{
    border-radius: 6px;
    background: #383838;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 16px;
}

.icon-play {
    display: block;
    width: 12px; /* Largura do ícone */
    height: 16px; /* Altura do ícone */
    background-image: url('/assets/play.png'); /* Caminho do ícone PNG */
    background-size: cover; /* Ajusta o tamanho do background */
    margin-right: 6px;
}

.icon-complete {
    display: block;
    width: 16px; /* Largura do ícone */
    height: 11px; /* Altura do ícone */
    background-image: url('/assets/confirmar.png'); /* Caminho do ícone PNG */
    background-size: cover; /* Ajusta o tamanho do background */
    margin-right: 6px;
}

a.button{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}