@import '/css/reset.css';

main{
    position: relative;
}

main .modal-bg{
    width: 100%;
    height: 100%;
    background-color: #d6d2d2;
}
a{
    cursor: pointer;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}

button img{
    margin-right: 6px;
}

circle:nth-child(2)[data-contexto = 'foco']{
   stroke: #7B38E8;
   filter: drop-shadow(0px 0px 12px #7B38E8);
}

circle:nth-child(2)[data-contexto = 'short']{
   stroke: #387EE8;
   filter: drop-shadow(0px 0px 12px #387EE8);
}

circle:nth-child(2)[data-contexto = 'longo']{
   stroke: #38E874;
   filter: drop-shadow(0px 0px 12px #38E874);
}

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.titulos{
    margin-top: 40px;
}

.sb-titulo{
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.8px;
}

header p{
    color: #FFF;
    font-size: 14px;
    margin-top: 6px;
}

header ul{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

header ul li a{
    padding: 10px 16px;
}

header ul li a.active{
    border-radius: 6px;
    background: #383838;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

}

.tarefa-destaque{
    padding: 10px 20px;
    background: #393939;
}

.temporizador{
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
}

.circulo{
    position: relative;
    transform: rotate(270deg);
    overflow:visible;
}

circle{
    fill: none;
    stroke: #383838;
    stroke-width: .75rem;
}

circle:nth-child(1){
    stroke-dashoffset: 0;
}

circle:nth-child(2) {
    stroke: #7B38E8;
    stroke-dasharray: 1131; /* Comprimento total do traço */
    stroke-dashoffset: 1131; /*se for = 0. estará todo desenhado*/
    /* animation: dash 1s linear forwards;  */
    filter: drop-shadow(0px 0px 12px #7B38E8);
}

/* @keyframes dash {
    to {
        stroke-dashoffset: 0; 
    }
} */


.temporizador h1{
    position: absolute;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Chakra Petch", sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.temporizador .tempo{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
}


.controle{
    margin-bottom: 84px;
}

ul.controle{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
    align-items: center;
}

.button{
    border-radius: 6px;
    background: #383838;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 16px;
}



.icon-complete {
    display: block;
    width: 16px; /* Largura do ícone */
    height: 11px; /* Altura do ícone */
    background-image: url('/assets/confirmar.png'); /* Caminho do ícone PNG */
    background-size: cover; /* Ajusta o tamanho do background */
    margin-right: 6px;
}

a.button{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.botao-tarefa{
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao-tarefa .button{
    max-width: 350px;
    margin-bottom: 80px;
}

.list h4{
    margin-bottom: 20px;
}

.list ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #656565;
}

.list ul li:first-child{
    border-top: 1px solid #656565;
}

.list ul li p{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.list ul li a{
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}
.list ul li a img{
    /* width: 100%;
    height: 100%; */
}

.modal.hidden{
    display: none;
}

.action-list{
    display: flex;
    gap: 10px;
}

.modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0%;
}

.modal.hidden{
    display: none;
}

.modal-content{
    padding: 16px;
    background: #2D2D2D;
    justify-content: center;
    width: 400px;
    border-radius: 6px;
    left: 40%;
    top: 25%;
    position: absolute;
}

.tarefa-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.tarefa-info input{
    height: 45px;
    border-radius: 6px;
    border: 1px solid #383838;
    padding: 6px;
}

.btn-modal{
    display: flex;
    justify-content: end;
    gap: 16px;
    align-items: center;
    
}

